<h1> <%= @summary.date.to_formatted_s(:short) %> </h1>

<div class="row">
  <div class="col s10 card">
    <h5>Net Calories:</h5>
  </div>
  <div class="col s5">
    <div class="card" id="intake-link">
      <h5>Calorie Intake: <%= @summary.consumed %></h5>
      <%= link_to "Add Meal", new_summary_food_path(@summary), remote: true%>
      <div id="food-list">
        <% @foods.each do |food| %>
          <%= render("foods/food", food: food) %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col s5">
    <div class="card">
      <h5>Calories Burned: <%= @summary.burned %></h5>
    </div>
  </div>
</div>
