<h1> <%= @summary.date.to_formatted_s(:short) %> </h1>

<div class="row">
  <div class="col s10 card" id="total">
    <%= render("summary", summary: @summary) %>
  </div>
  <div class="col s5">
    <div class="card" id="intake-link">
      <h5>Calorie Intake: <%= @summary.consumed %>
      </h5>
      <%= link_to "Add Meal", new_summary_food_path(@summary), remote: true%>
      <div id="food-list">
        <% @foods.each do |food| %>
          <%= render("foods/food", food: food) %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col s5">
    <div class="card" id="burn-link">
      <h5>Calories Burned: <%= @summary.burned %></h5>
      <%= link_to "Add Exercise", new_summary_exercise_path(@summary), remote: true%>
      <div id="exercise-list">
        <% @exercises.each do |ex| %>
          <%= render("exercises/exercise", exercise: ex) %>
        <% end %>
    </div>
  </div>
</div>
